@charset "utf-8";

body {
    background-image: url("https://t3.ftcdn.net/jpg/01/04/61/96/240_F_104619688_UP27I7cxkZKuNZn9GxCLCj0TztesAyMV.jpg");

    color: blanchedalmond;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

a {
    font-size: 2.5rem;
    color: blanchedalmond;
    text-decoration: none;
}

a:hover {
    font-size: 2.7rem;
    transition: 0.5s ease-in-out;
}
h1 {
    font-size: 5rem;
    text-align: center;
    margin: 4rem;
}

h2 {
    font-size: 3rem;
    clear: left;
}

p {
    font-size: 1.7rem;
}

.bookstore {
    text-align: center;
}

.card {
    float: left;
    padding: 4rem;
    margin-left: 1.5%;

}

.about {
    text-align: center;
}

.button {
    background-color: darkorange;
    border-radius: 1rem;
    padding: 1.5rem;
}

.button:hover {
    font-size: 1.2rem;
    font-weight: bold;
    transform: 1.2rem;
    transition: box-shadow 0.3s ease-in-out, color 0.3s ease-in-out;
    box-shadow: 0 0 2rem rgba(230, 189, 7, 0.6)
}
.button > a{
    color: black;
}